In [1]:
!pip install opendatasets

Collecting opendatasets

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Using cached opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from opendatasets) (4.66.5)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: click in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2024.2.2)
Requirement already satisfied: charset-normalizer in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (3.6)
Requirement already satisfied: protobuf in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (4.25.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Collecting python-slugify (from kaggle->opendatasets)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: requests in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (69.1.1)
Requirement already satisfied: six>=1.10 in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Collecting text-unidecode (from kaggle->opendatasets)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (2.2.1)
Requirement already satisfied: webencodings in c:\users\anuva\appdata\local\programs\python\python312\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Using cached opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Installing collected packages: text-unidecode, python-slugify, kaggle, opendatasets

   ---------- ----------------------------- 1/4 [python-slugify]
   ---------- ----------------------------- 1/4 [python-slugify]
   ---------- ----------------------------- 1/4 [python-slugify]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   -------------------- ------------------- 2/4 [kaggle]
   ------------------------------ --------- 3/4 [opendatasets]
   ------------------------------ --------- 3/4 [opendatasets]
   ------------------------------ --------- 3/4 [opendatasets]
   ------------------------------ --------- 3/4 [opendatasets]
   ---------------------------------------- 4/4 [opendatasets]

Successfully installed kaggle-1.7.4.5 opendatasets-0.1.22 python-slugify-8.0.4 text-unidecode-1.3

In [3]:
import opendatasets as od

# Replace with the URL of the dataset you want to download from Kaggle
dataset_url = 'https://www.kaggle.com/competitions/playground-series-s5e8'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading playground-series-s5e8.zip to .\playground-series-s5e8

100%|██████████| 14.7M/14.7M [00:00<00:00, 397MB/s]

Extracting archive .\playground-series-s5e8/playground-series-s5e8.zip to .\playground-series-s5e8

In [5]:
import pandas as pd
df_train=pd.read_csv('playground-series-s5e8/train.csv')
df_test=pd.read_csv('playground-series-s5e8/test.csv')

In [6]:
df_train

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,749995,29,services,single,secondary,no,1282,no,yes,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,no,631,no,no,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,no,217,yes,no,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,no,-274,no,no,cellular,26,aug,108,6,-1,0,unknown,0
749999,749999,42,technician,married,secondary,no,1559,no,no,cellular,4,aug,143,1,1,7,failure,0

In [7]:
df_test

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,750000,32,blue-collar,married,secondary,no,1397,yes,no,unknown,21,may,224,1,-1,0,unknown
1,750001,44,management,married,tertiary,no,23,yes,no,cellular,3,apr,586,2,-1,0,unknown
2,750002,36,self-employed,married,primary,no,46,yes,yes,cellular,13,may,111,2,-1,0,unknown
3,750003,58,blue-collar,married,secondary,no,-1380,yes,yes,unknown,29,may,125,1,-1,0,unknown
4,750004,28,technician,single,secondary,no,1950,yes,no,cellular,22,jul,181,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,999995,43,management,married,tertiary,no,0,yes,no,cellular,18,nov,65,2,-1,0,unknown
249996,999996,40,services,married,unknown,no,522,yes,no,cellular,19,nov,531,1,189,1,failure
249997,999997,63,retired,married,primary,no,33,no,no,cellular,3,jul,178,1,92,8,success
249998,999998,50,blue-collar,married,primary,no,2629,yes,no,unknown,30,may,163,2,-1,0,unknown
249999,999999,29,student,single,tertiary,no,722,no,no,cellular,6,apr,119,1,-1,0,unknown

In [8]:
df_train.isnull().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
df_test.isnull().sum()

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [10]:
df_train.duplicated().sum()

0

In [11]:
df_test.duplicated().sum()

0

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750000 entries, 0 to 749999
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         750000 non-null  int64
 1   age        750000 non-null  int64
 2   job        750000 non-null  object
 3   marital    750000 non-null  object
 4   education  750000 non-null  object
 5   default    750000 non-null  object
 6   balance    750000 non-null  int64
 7   housing    750000 non-null  object
 8   loan       750000 non-null  object
 9   contact    750000 non-null  object
 10  day        750000 non-null  int64
 11  month      750000 non-null  object
 12  duration   750000 non-null  int64
 13  campaign   750000 non-null  int64
 14  pdays      750000 non-null  int64
 15  previous   750000 non-null  int64
 16  poutcome   750000 non-null  object
 17  y          750000 non-null  int64
dtypes: int64(9), object(9)
memory usage: 103.0+ MB

In [13]:
df_train["poutcome"].unique()

array(['unknown', 'other', 'failure', 'success'], dtype=object)

In [14]:
import numpy as np

# Select only numeric columns for outlier detection
df_train_numeric = df_train.select_dtypes(include=np.number)

Q1 = df_train_numeric.quantile(0.25)
Q3 = df_train_numeric.quantile(0.75)
IQR = Q3 - Q1

# Filter the original DataFrame based on outliers in numeric columns
df_train_o = df_train[~((df_train_numeric < (Q1 - 1.5 * IQR)) | (df_train_numeric > (Q3 + 1.5 * IQR))).any(axis=1)]

In [15]:

original_rows = 750000

outlier_count = original_rows - len(df_train)
print(f"Number of outliers removed: {outlier_count}")

Number of outliers removed: 0

In [17]:
df_train

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,749995,29,services,single,secondary,no,1282,no,yes,unknown,4,jul,1006,2,-1,0,unknown,1
749996,749996,69,retired,divorced,tertiary,no,631,no,no,cellular,19,aug,87,1,-1,0,unknown,0
749997,749997,50,blue-collar,married,secondary,no,217,yes,no,cellular,17,apr,113,1,-1,0,unknown,0
749998,749998,32,technician,married,secondary,no,-274,no,no,cellular,26,aug,108,6,-1,0,unknown,0
749999,749999,42,technician,married,secondary,no,1559,no,no,cellular,4,aug,143,1,1,7,failure,0